<div style="margin-top:1%"> </div>
<p-timeline [value]="arr"  align="alternate"> 
<ng-template pTemplate="content" let-event> 
	{{event.status}} 
  <div class={{event.icon}}></div>
</ng-template> 
</p-timeline>

<div></div>
<p-timeline [value]="arr" layout="horizontal" >
  <ng-template pTemplate="content" let-event>
    {{event.status}}
  </ng-template>
</p-timeline>

<div>
<p-timeline [value]="arr" layout="horizontal" align="alternate">
  <ng-template pTemplate="content" let-event>
    {{event.status}}
  </ng-template>
</p-timeline>
</div>

<div></div>
<p-timeline [value]="arr" layout="vertical" align="alternate">
  <ng-template pTemplate="content" let-event>
    {{event.status}}
  </ng-template>
</p-timeline>