<footer class="site-footer">
    <div class="site-footer__banner section--banded">
  <div class="row">
    <div class="small-12 medium-6 columns site-footer__banner__left-col">
      <h2 class="h3">Newsletter Sign-up</h2>
              <p>Sign up for our e-newsletter and mailings to stay up-to-date with the latest offerings from the Hop.</p>
            <a href="https://hoptix.dartmouth.edu/account/create/brief" class="btn btn--white">join the hop mailing list</a>      <p>Already have an account or&nbsp;receive newsletters?<br>
<a href="https://hoptix.dartmouth.edu/account/interests" title="Manage your preferences">Log in to manage your preferences</a></p>
    </div>
    <div class="small-12 medium-6 columns site-footer__banner__right-col">
      <h2 class="h3">Connect &amp; Share</h2>
              <p>Follow the Hop for an insider's view and to share your experience!</p>
            <div class="site-footer__social-links">
        <a href="https://www.youtube.com/user/HOPDartmouth">
  <i class="fa fa-youtube"></i>
  YouTube</a>
<a href="https://www.instagram.com/hopkinscenter/">
  <i class="fa fa-instagram"></i>
  Instagram</a>
<a href="https://www.facebook.com/hopkinscenter/">
  <i class="fa fa-facebook-f"></i>
  Facebook</a>
<a href="https://twitter.com/HopkinsCenter">
  <i class="fa fa-twitter"></i>
  Twitter</a>
      </div>
    </div>
  </div>
</div>

    <div class="row site-footer__upper">
      <div class="small-12 large-2 columns">
  <a href="https://hop.dartmouth.edu">
    <img srcset="https://hop.dartmouth.edu/sites/hop.prod/themes/hop/assets/logos/hop-logomark.svg" alt="Dartmouth Hopkins Center Logomark" width="160" height="74">
  </a>
</div>

<div class="small-12 medium-4 large-3 columns site-footer__upper__contact">
  <p><strong>Hopkins Center for the Arts</strong><br>
4 East Wheelock Street<br>
Dartmouth College<br>
Hanover, NH 03755</p>
</div>

<div class="small-12 medium-4 large-5 columns site-footer__upper__about">
      <h2>About the Hop</h2>
    <p>The Hopkins Center's mission is to ignite and sustain a passion for the arts within Dartmouth and its greater community and to provide the core educational environment for the study, creation and presentation of the arts.&nbsp;<strong><a href="https://hop.dartmouth.edu/about">Read&nbsp;More&nbsp;&gt;</a></strong></p>
</div>
    </div>
    <div class="site-footer__lower">
      <div class="row">
        <a href="https://home.dartmouth.edu">
            <img src="../../assets/dartmouth.svg"  alt="Dartmouth Wordmark" width="283" height="30">
        </a>
        <ul id="nav-privacy" role="menu">
          <li role="menuitem">
            <a href="https://www.dartmouth.edu/copyright">Copyright © 2023 Trustees of Dartmouth College</a>
          </li>
          <li aria-hidden="true" class="disc" role="menuitem">•</li>
          <li role="menuitem">
            <a href="https://home.dartmouth.edu/privacy">Privacy</a>
          </li>
          <li aria-hidden="true" class="disc" role="menuitem">•</li>
          <li role="menuitem">
            <a href="https://home.dartmouth.edu/index">A-Z Index</a>
          </li>
          <li aria-hidden="true" class="disc" role="menuitem">•</li>
          <li role="menuitem">
            <a href="https://itc.dartmouth.edu/site-feedback">Site or Accessibility Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
