<style>
</style>
<header data-directional-scroll-reveal="true" data-sticky-container="" 
class="site-header sticky--scrolling-up">
    <div class="header-main">
      <div data-sticky-item="" class="sticky-header-item">
        <div class="row">
          <div class="header__logo">
            <a href="/">  
              <img class="wordmark" width="140" height="90" src="../../assets/hop-wordmark.svg" alt="Dartmouth Hopkins Center Full Logo">
              <img class="logomark" width="86" height="40" src="../../assets/hop-logomark.svg" alt="Dartmouth Hopkins Center Full Logo">
            </a>
          </div>

          <div class="all-nav-container">
            <div class="main-menu-container">
              <nav id="main-menu" class="navigation" role="navigation">
  <ul class="menu">
    <li class="first expanded menu-mlid-3332 menu__top-level has-ul">
    <span class="dropmenu-toggle">Live Events</span>
   </li>
`
<li class="expanded menu-mlid-3333 menu__top-level has-ul"><span class="dropmenu-toggle">Film</span>
</li>
<li class="expanded menu-mlid-3334 menu__top-level has-ul"><span class="dropmenu-toggle">Students</span>
</li>
<li class="expanded menu-mlid-3335 menu__top-level has-ul"><span class="dropmenu-toggle">Projects &amp; Ideas</span>
</li>
<li class="last expanded menu-mlid-3336 menu__top-level has-ul"><span class="dropmenu-toggle">Membership</span>
</li>
</ul>
</nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

<app-home></app-home>